
<Header Class="Site-Header">
            <Div Class="Site-Identity">
                <H1><A Href="#">Logo here</A></H1>
            </Div>
            <Nav Class="Site-Navigation">
                <Ul Class="Nav">
                    <Li><A Href="#">Home</A></Li>
                    <Li><A Href="#">About</A></Li>
                    <Li><A Href="#">Blog</A></Li>
                    <Li><A Href="#">Contact</A></Li>
                </Ul>
            </Nav>
</Header>